:root {
    --cinza-principal: #1e1e1e; 
    --amarelo: #CAAB3D;
    --branco: #f7f7f7;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: var(--cinza-principal);
    padding: 16px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    position: relative;
}

.header__menu-hamburguer {
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.header__botao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.header__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__item {
    padding: 16px;
    background-color: var(--cinza-principal);
}

.lista-menu__link {
    text-decoration: none;
    color: var(--branco);
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
}

.actions__back {
    text-decoration: none;
    color: var(--cinza-principal);
}

.swiper-wrapper {
    height: 180px;
}

.swiper-slide {
    margin: 16px;
    height: 180px;
}

.product__details {
    
    margin: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details__group {
    padding: 8px;
    
}

.details__title {
    font-size: 14px ;
    font-weight: light;
    color: #303030;
    margin-bottom: 4px;
}

.details__item {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 16px 30px 16px;
}

.buy__qtd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    font-size: 18px;
    
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.buttons a {
    text-decoration: none;
}

.buy__add {
    background-color: transparent;
    color: var(--amarelo);
    font-size: 18px ;
    font-weight: 700;
    border: 1px solid var(--amarelo);
    border-radius: 16px;
    padding: 16px 40px;
}

.buy__buy {
    background-color: var(--amarelo);
    color: var(--branco);
    font-size: 18px ;
    font-weight: 700;
    border: none;
    border-radius: 16px;
    padding: 16px 40px;
    margin-top: 4px;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--cinza-principal);
    padding: 24px;
    text-align: center;
    width: 100vw;
}